
/* CSS imports*/
@import "@dataforsyningen/designsystem/assets/designsystem.css";

/* Web component styles */
@import "./components/viewport/viewport.css";

/* Header styles */
@import "./components/header/page-header.css";
@import "./components/header/address-search.css";


body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}